In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('vals.xlsx')

In [5]:
df.sort_values('Error',ascending=False)

   Element      Error
0      LiH  14.133308
1      NaH  14.081370
2       KH  14.034265
3      RbH  12.926169
4      CsH  12.272122
12  LiCoO2   5.560246
6     LiCl   5.121300
8      LiF   4.715887
7      CuI   3.573920
13  LiSnS2   3.439916
5     CsCl   3.230739
9      ZnS   2.499976
10    CoO2   1.805294
11    SnS2   1.096295