In [64]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [65]:
df = pd.read_csv('all_props_new.csv')

In [66]:
df

,Symbol,AtomicMass,AtomicRadius,Electronegativity,IonizationEnergy,ElectronAffinity,Polarizability,results_per_total,results_per_zn,ZnSites,CounterIonSites,results_per_counter_ion,res_per_volm_per_site,Result,SpaceGroup,SpaceGroupNumber,Total Sites,Reduced Formula
0,Zn,65.40,139.0,1.65,9.394,NaN,38.67,12.687328,38.061983,0.333333,0.333333,0.038062,0.000290,0.290050,I4/mmm,139,3,Ba2Zn
1,Zn,65.40,139.0,1.65,9.394,NaN,38.67,8.222697,8.855212,0.928571,0.928571,0.008855,0.000506,0.505798,Fm-3c,226,28,BaZn13
2,Zn,65.40,139.0,1.65,9.394,NaN,38.67,11.320007,16.980010,0.666667,0.666667,0.016980,0.000435,0.434662,C2/c,15,6,BaZn2
3,Zn,65.40,139.0,1.65,9.394,NaN,38.67,9.283639,11.140367,0.833333,0.833333,0.011140,0.000469,0.469207,Cmcm,63,12,BaZn5
4,Zn,65.40,139.0,1.65,9.394,NaN,38.67,10.971699,29.257864,0.375000,0.375000,0.029258,0.000372,0.372091,I4/mcm,140,16,Ca5Zn3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Se,78.97,190.0,2.55,9.752,2.021,28.90,2.714427,5.428853,0.500000,0.500000,0.005429,0.000119,0.119452,F-43m,216,2,ZnSe
160,S,32.07,180.0,2.58,10.360,2.077,19.40,2.662137,5.324275,0.500000,0.500000,0.005324,0.000136,0.136220,P3m1,156,56,ZnS
161,Te,127.60,206.0,2.10,9.010,1.971,38.00,2.714538,5.429076,0.500000,0.500000,0.005429,0.000095,0.095148,F-43m,216,6,ZnTe
162,Zn,65.40,139.0,1.65,9.394,NaN,38.67,15.521209,23.281813,0.666667,0.666667,0.023282,0.000935,0.935449,Fd-3m,227,6,ZrZn2
163,Zn,65.40,139.0,1.65,9.394,NaN,38.67,17.876717,35.753433,0.500000,0.500000,0.035753,0.000974,0.974113,Pm-3m,221,2,ZrZn

In [67]:
element = 'La'

In [68]:
grouped_df = df.groupby('Symbol')
oxy_group = pd.DataFrame()
for symbol, group in grouped_df:
    # print(f"Category: {symbol}")
    # print(group['Result'].max())
    # print(group['Result'].min())
    if symbol == element:
        # print(group['Result'])
        # print('---------------------')
        # print((group['Result'].max() - group['Result'].min())/group['Result'].mean() * 100)
        # print(group)
        oxy_group  = group
    # if(symbol == 'Al'):
    #     print(group)
    # print("\n")

oxy_group

Empty DataFrame
Columns: []
Index: []

In [69]:
res = pd.read_csv('analysis_results.csv')

In [70]:
res = res[res['Symbol'] == element]

res

,Symbol,Structure,Total Sites,Zn Sites,Counter Ion Sites,Diff Energy,Diff per Total Sites,Diff per Zn Sites,Diff per Counter Ion Sites,Composition
43,La,La2 Zn17,19,17.0,17.0,0.255115,0.013427,0.015007,0.015007,La2 Zn17
44,La,La6 Zn44,50,44.0,44.0,0.690247,0.013805,0.015687,0.015687,La6 Zn44
45,La,La2 Zn22,24,22.0,22.0,0.304328,0.012680,0.013833,0.013833,La2 Zn22
46,La,La2 Zn26,28,26.0,26.0,0.352609,0.012593,0.013562,0.013562,La2 Zn26
47,La,La2 Zn4,6,4.0,4.0,0.090355,0.015059,0.022589,0.022589,La2 Zn4
48,La,La2 Zn8,10,8.0,8.0,0.133919,0.013392,0.016740,0.016740,La2 Zn8
49,La,La1 Zn1,2,1.0,1.0,0.034603,0.017301,0.034603,0.034603,La1 Zn1

In [71]:
oxy_group

Empty DataFrame
Columns: []
Index: []

In [72]:
merged_df = pd.merge(res, oxy_group, left_index=True, right_index=True)
# merged_df.sort_values(by='Result',inplace=True, ascending=False)
# merged_df['SpaceGroup']

merged_df['Counter Ion Sites']

Series([], Name: Counter Ion Sites, dtype: float64)

In [73]:
merged_df.rename(columns={"results_per_total": "Result_1"}, inplace=True)
# merged_df['Total Sites_x']

In [74]:
merged_df.sort_values(by='Result_1',inplace=True, ascending=False)

KeyError: 'Result_1'

In [ ]:
symbol = merged_df['Symbol_x'].values[0]
symbol

'O'

In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Create combined x-axis label

full_li = merged_df['Zn Sites']
merged_df['Anion Site'] = (merged_df['Counter Ion Sites'] / full_li).round(2)

merged_df.sort_values(by='Anion Site',inplace=True, ascending=False)
merged_df['Structure_SG'] = "Zn-" + symbol+(merged_df['Counter Ion Sites'] / full_li).round(2).astype(str) 
# Set data
x_labels = merged_df['Structure_SG']
values = merged_df['Result_1']

# Create figure
plt.figure(figsize=(10, 6))

# Create bar plot
x = np.arange(len(x_labels))  # numeric x-axis positions
plt.bar(x, values, width=0.6)

# X-axis setup
plt.xticks(x, x_labels, rotation=60, ha='right')
plt.xlabel('Structure')
plt.ylabel('Energy (mEh)')
# plt.title('Grouped Bar Plot of Result_1 by Structure and SpaceGroup')
# plt.legend(title='Metric')
plt.tight_layout()

# Save or show
plt.savefig(f'chemical_space/li_{symbol}_compounds.png', dpi=300, bbox_inches='tight')
plt.show()

KeyError: 'Result_1'